html {
    height: 100%;
}

/* ------------------------------------------------------------------ Navbar*/

.red-navbar {
    height: 8vh;
}

.red-navbar a {
    color: white;
    text-decoration: none;
}

.red-navbar a:hover {
    color: black;
    text-shadow: 0 0 10px rgb(233, 197, 166);
}

.dropdown-menu a {
    color: black;
}

/* ------------------------------------------------------------------ Home page*/

.hero-image {
    background-image: url("/media/homepage_background.jpg");
    width: 100%;
    height: 80vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.heading-content {
    margin: 15rem auto auto 15rem;
    color: white;
    background-color: #705353d4;
    border: 1px groove #12101066;
    border-radius: 15px;
    padding: 15px;
}

.hero-image a {
    color: white;
}

.shop-now-button {
    background: black;
    min-width: 260 px;
}

.shop-now-button:hover {
    background: rgb(217 34 34 / 43%);
    color: white;
}