html,
body {
    min-height: 100%;
    box-sizing: border-box;
}

body {
    position: relative;
}

main {
    overflow-x: hidden;
}

/* ------------------------------------------------------------------ margin-top on all the page*/

.mg-top {
    margin-top: 12rem;
}

@media only screen and (min-height: 1326px) {
    .mg-top {
        margin-top: 15rem;
    }
}

/* ------------------------------------------------------------------ Navbar*/

.red-navbar {
    min-height: 8vh;
}

.red-navbar .text-white:hover {
    color: black;
    text-shadow: 5px 5px 10px rgb(8, 4, 0);
    text-decoration: none;
}

.dropdown-menu a {
    color: black;
}

#main-nav a {
    color: black;
}

#main-nav li:hover {
    background-color: rgba(0,0,0,0.1);
}

.dropdown-menu .dropdown-item {
    color: black;
}

.bg-brown {
    background: #a78e8e !important;
}

/* ----- Tablet and mobile */
@media only screen and (max-width: 998px) {
    .red-navbar, .red-navbar .col-12 {
        display: none;
    }
    header .bg-white {
        background-color: #dc3545!important;
        max-height: 6.5rem;
    }
    .navbar-light a {
        color:white;
    }
    .bg-white ul {
        margin-top: 20px;
    }
    .navbar-collapse {
        background-color: white;
    }
}

/* ----- Mobile */
.navbar-light .navbar-toggler {
    border-color: white;
}

@media only screen and (max-width: 568px) {
    .bg-white .nav-link {
        padding: 0rem 0.5rem;
    }
}

@media only screen and (max-width: 360px) {
    .bg-white .list-inline-item {
        margin-top: 10px;
        font-size: .7rem;
    }
    .navbar {
        padding: 0rem 0.5rem;
    }
}

/* ----- Mobile weight 280px */
@media only screen and (max-width: 280px) {
    .bg-white .list-inline-item {
        font-size: .6rem;
    }
    .navbar-toggler {
        padding: 0.25rem 0.45rem;
    }
}

/* ------------------------------------------------------------------ Footer*/

footer .container-fluid {
    padding: 30px;
}

.copyright {
    padding: 0 30px 30px 30px;
}

.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.fab {
    color:white;
    font-size: 25px;
}

/* ------------------------------------------------------------------ Home page*/

.hero-image {
    background-image: url("/media/homepage_background.jpg");
    width: 100%;
    height: 80vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.hero-image a {
    color: white;
}

.shop-now-button {
    background: black;
    min-width: 260 px;
}

.shop-now-button:hover {
    background: rgb(217 34 34 / 43%);
    color: white;
}

.heading-content {
    margin: 15rem auto auto 15rem;
    color: white;
    background-color: #705353d4;
    border: 1px groove #12101066;
    border-radius: 15px;
    padding: 15px;
}

/* ----- Tablet */
@media only screen and (max-width: 768px) {
    .heading-content {
        margin: 15rem auto auto 5rem;
    }
}

@media only screen and (max-width: 568px) {
    .heading-content {
        margin: 12rem auto auto 2rem;
    }
    .heading-content h1 {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 360px) {
    .heading-content {
        margin: 11rem 2rem auto 2rem;
    }
    .heading-content h1 {
        font-size: 1.6rem;
    }
}

/* ------------------------------------------------------------------ Products page*/

.mg-top h2 {
    text-decoration: underline;
    text-align: center;
}

.card img {
    max-height:100%;
    height: 300px;
    object-fit: contain;
    }

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}
    
/* ------------------------------------------------------------------ Product_detail page*/

.img-detail {
    max-height:100%;
    height: 25rem;
}

.img-fluid {
    width: 20rem;
}

.image-container {
    text-align: center;
}

@media only screen and (min-width: 1024px) {
    #product-detail{
        min-height: 53vh;
    }
}

/* ------------------------------------------------------------------ Bag page*/
.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

@media only screen and (min-width: 768px) {
    #bag-page{
        min-height: 58vh;
    }
}
