<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#">
                Guitar
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#">
                Keyboard
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#">
                Wind
            </a>
        </li>

        <li class="nav-item dropdown mr-5">
            <a class="logo-font font-weight-bold nav-link" href="#">
                String
            </a>
        </li>

        <li class="nav-item dropdown mr-5">
            <a class="logo-font font-weight-bold nav-link" href="#">
                Percussion
            </a>
        </li>

    </ul>
</div>